/* ph{
    width:960px;
    margin:15px auto;
    font-family: Arial,sans-serif;
    padding:1em;
} */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
header#ph nav ul li{
    padding:2px;
    margin:0 20px 0 0;
    display:inline-block;
    border-radius:1em;
    
}
section#se1{
	float: left;
	width: 22%;
    margin: auto;
    padding: 1.5em;
}
section#se2{
	float: left;
    width: 22%;
	margin: auto;
	padding: 1.5em;
}
section#se3{
	float: left;
	width: 22%;
	margin: center;
	padding: 1.5em;
}
section#se4{
	float: left;
	width: 22%;
	margin: auto;
	padding: 1.5em;
}
div.d{
    border-radius:1em;
    background color:grey;
}

article{
	padding:1em;
	border-radius:0;
	border:1px solid grey;
	
}
footer{
    padding:2px;
    margin:0 20px 0 0;
    display:inline-block;
    border-radius:1em;
    
}